* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    background-color: #ccc;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
.local-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    height: 184px;
    border: 1px solid red;
}
.local-nav ul {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.local-nav ul li {
    flex: 1;
    border: 1px solid skyblue;
}
.local-nav ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.local-nav ul li [class^="icon"] {
    width: 28px;
    height: 28px;
    margin-top: 8px;
    /* background-color: pink; */
}
.icon1 {
    background: url(../img/local-nav-icon.png) no-repeat 0 -85px;
    background-size: 28px auto;
}